<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
    <typeHandlers>
        <typeHandler handler="com.example.utility.StringTypeHandler" javaType="java.lang.String"/>
        <typeHandler handler="com.example.utility.ThreeTenTypeHandler" javaType="org.threeten.bp.LocalDate"/>
    </typeHandlers>
</configuration>