@charset "UTF-8";

.navbar-nav {
	float: none;
	text-align: center;
}

.navbar-nav>li {
	float: none;
	display: inline-block;
}

table{
	margin-bottom: auto;
}

table th,
table td {
	text-align: center;
	vertical-align: middle;
}

table th {
	padding-top: 10px;
	padding-bottom: 10px;
}

h1 {
	margin-bottom:20px;
}

.forecast-form {
	width: 60%;
	margin: 0 auto;
}

.day-weather {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}






