<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.demo.repository.WeatherForecastMapper">
		
	<!-- Condition -->
	<resultMap id="ConditionResult" type="io.swagger.client.model.ForecastCondition">
	  <id property="text" column="condition"/>
	  <result property="icon" column="icon"/>
	</resultMap>
	
	<!-- DayCondition -->
	<resultMap id="DayConditionResult" type="io.swagger.client.model.ForecastDayCondition">
	  <id property="text" column="condition"/>
	  <result property="icon" column="icon"/>
	</resultMap>
	
<!--	 Location -->
	<resultMap id="LocationDataResult" type="com.example.demo.entity.LocationData">
	  <id property="id" column="id"/>
	  <result property="input" column="input"/>
	  <result property="cityRegion" column="city_region"/>
	  <result property="latlon" column="latlon"/>
	</resultMap>
	
	<!-- ForecastDay -->
	<resultMap id="ForecastDayResult" type="io.swagger.client.model.ForecastDay">
	  <id property="dummy" column="dummy"/>
	  <result property="maxtempC" column="max_temp"/>
	  <result property="mintempC" column="min_temp"/>
	  <result property="avgtempC" column="avg_temp"/>
	  <result property="avghumidity" column="avg_humidity"/>
	  <result property="dailyChanceOfRain" column="daily_chance_of_rain"/>
	  <association property="condition" resultMap="DayConditionResult"/>
	</resultMap>
	
	<!-- ForecastHour -->
	<resultMap id="ForecastHourResult" type="io.swagger.client.model.ForecastHour">
	  <id property="time" column="time" typeHandler="com.example.demo.utility.StringTypeHandler"/>
	  <result property="tempC" column="temp"/>
	  <result property="humidity" column="humidity"/>
	  <result property="chanceOfRain" column="chance_of_rain"/>
	  <association property="condition" resultMap="ConditionResult"/>
	</resultMap>
	
	<select id="selectHour" resultMap="ForecastHourResult">
	  SELECT
	    date
	    ,time
	    ,city_region
	    ,temp
	    ,condition
	    ,icon
	    ,chance_of_rain
	    ,humidity
	  FROM
	    hour_forecasts
      WHERE
        date = #{date}
        AND city_region = #{cityRegion}
	  ;
	</select>
	
	<select id="selectDay" resultMap="ForecastDayResult">
	  SELECT
        date
        ,city_region
        ,max_temp
        ,min_temp
        ,avg_temp
        ,condition
        ,icon
        ,daily_chance_of_rain
        ,avg_humidity
      FROM
        day_forecasts
      WHERE
        date = #{date}
        AND city_region = #{cityRegion}
	  ;
	</select>
	
	<select id="selectLocations" resultMap="LocationDataResult">
	  SELECT
        input
        ,city_region
        ,latlon
      FROM
        locations
      WHERE
        input = #{input}
	  ;
	</select>
	
	<select id="selectLatLon">
	  SELECT
	   latlon
	  FROM
	   locations
	  WHERE
	   city_region = #{cityRegion}
	  LIMIT 1
	  ;
	
	</select>
	
	<insert id="insertDay">
	  INSERT INTO
	    day_forecasts
	    (
	      date
	      ,city_region
	      ,max_temp
	      ,min_temp
	      ,avg_temp
	      ,condition
	      ,icon
	      ,daily_chance_of_rain
	      ,avg_humidity
	    )
	  VALUES
	    (
	    #{date}
	    ,#{cityRegion}
	    ,#{day.maxtempC}
	    ,#{day.mintempC}
	    ,#{day.avgtempC}
	    ,#{day.condition.text}
	    ,#{day.condition.icon}
	    ,#{day.dailyChanceOfRain}
	    ,#{day.avghumidity}
	    )
	  ;
	</insert>
	
	<insert id="insertHour">
	  INSERT INTO
	    hour_forecasts
	    (
	      date
	      ,time
	      ,city_region
	      ,temp
	      ,condition
	      ,icon
	      ,chance_of_rain
	      ,humidity
	    )
	  VALUES
	  <foreach collection="hours" item="hour" separator=",">
	    (
	    #{date}
	    ,#{hour.time}
	    ,#{cityRegion}
	    ,#{hour.tempC}
	    ,#{hour.condition.text}
	    ,#{hour.condition.icon}
	    ,#{hour.chanceOfRain}
	    ,#{hour.humidity}
	    )
	    </foreach>
	  ;
	</insert>
	
	<insert id="insertLocations">
	  INSERT INTO
	    locations
	    (
        input
        ,city_region
        ,latlon
	    )
	  VALUES
	  <foreach collection="locations" item="l" separator=",">
	    (
	    #{l.input}
	    ,#{l.cityRegion}
	    ,#{l.latlon}
	    )
	    </foreach>
	  ;
	</insert>
</mapper>